


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
	height: 88vh;
	overflow-y: hidden; 
	overflow-x: hidden; 
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	background-color: white;
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

textarea {
	resize: none;
	width: 90%;
	height: 80%;
}

.card {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 30px;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #fff;
}

.flip-button {
	position: absolute;
	top: 12px;
	right: 14px;
}

.saveButton {
	position: absolute;
	bottom: 12px;
	right: 14px;
}
.fi.fi-save, .fi.fi-spinner-rotate-forward {
	font-size: 20px;
	cursor: pointer;
}

.arrow {
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;	
	font-size: 30px;
	opacity: 0.1;
	cursor: pointer;
}
.right {
	right: 14px;
}
.left {
	left: 14px;	
}
.arrow:hover {
	opacity: 1;
	transition: all 0.3s ease;
}

.card-num {
	position: absolute;
	bottom: 12px;
	background-color: #fff;

}

.list-button {
	position: absolute;
	top: 12px;
	left: 14px;
	width: auto;
}

.list-wrapper {
	height: auto;
	width: 100%;
	padding-top: 2em;
	display: flex;
	justify-content: space-evenly;	
	align-items: center;
	background-color: #222222
}

.list-item {
	background-color: #ffff;
	height: 3em;
	width: 44%;
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#000;	
	line-height: 3em;
	vertical-align: middle;
	padding-left: 5px;
}

.flash-card{
	height: 88vh;
	background-color: #222222;
}

.list-add-button {
	height: 3em;
	width: 95%;
	margin-left: 3%;
	margin-top : 2em;
	border-radius: px;
	display: flex;
	justify-content: space-evenly;
	background-color: #2b2a2a;
	color: white;
	border: 2px solid #313132;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
