.app {
    height: 100vh;
    min-height: 100vh;
    padding: 0 20px 10px 20px;
}

.title {
    font-size: 36px;
}

.title i::before {
    content: "\e9b3";
    font-size: 24px;
    padding-right: 10px;
    cursor: pointer;
}

.header * {
    font-weight: 500;
}

.header button {
    margin: 13px 5px 13px 0;
}

.header .text-right button {
    margin-right: 0;
    margin-left: 5px;
}