.group-frame {
    height: calc(100% - 57px);
    padding-top: 10px;
}

.group-frame > .row {
    height: 100%;
}

.group-name {
    position: fixed;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 28px;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #111;
}

.chat-box input {
    margin-top: auto;
    background-color: #222;
    border-style: none;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #555;
    color: #eee;
}

.chat-box {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    overflow-y: auto;
    flex: 1;
}

.chat-box p {
    margin: 0;
}

.study-mode {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0 10px;
}

.study-mode canvas {
    background-color: #fff;
}

span.chat-username {
    padding-right: 10px;
}

span.chat-username:after {
    content: ':';
}

.user-list {
    width: auto;
}