.group-frame {
    justify-content: space-between;
    flex-grow: 1
}

.group-frame > div {
    width: 100%;
}

.group {
    max-height: calc(100vh - 58px);
}

.group-name {
    position: fixed;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 28px;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #111;
}

.chat-box p {
    margin: 0;
}

.study-mode {
    overflow: auto;
}

.study-mode canvas {
    background-color: #fff;
}

span.chat-username {
    padding-right: 10px;
}

span.chat-username:after {
    content: ':';
}

.user-wrapper {
    padding: 10px;
    max-width: 20%;
}