.home {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    height: 90vh;
}

.home .groups {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home ul {
    color:white;
}

.home .recentgroups {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    color:rgb(255, 255, 255);
    background-color:#1d1f21;
    margin: 5px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
    
}

.home .favoritegroups {
    display:flex;
    flex-direction: column;
    flex-grow: 1; 
    color:white;
    background-color:#1d1f21;
    margin: 5px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
}

.home .recentgroups > div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgba(153, 153, 153, 0.137);
    margin: 10px;
    padding: 10px;
    line-height: 31px;
}

.home .favoritegroups > div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgba(153, 153, 153, 0.137);
    margin: 10px;
    padding: 10px;
    line-height: 31px;
}

.home .friendslist {
    color:white;
    background-color:#1d1f21;
    padding: 10px 15px; 
    width: 15%;
    margin: 10px;
}

.home .friendslist .friends {
    margin: 5px;
    background: #1d1f21;
    line-height: 24px;
}

.home .friendslist .friends i {
    margin: 0px 5px;
    float: right;
    line-height: 24px;
    cursor: pointer;
}

.home .friendslist .friends i:hover {
    background-color:rgba(153, 153, 153, 0.137);
}