.home {
    padding-top: 10px;
    justify-content: space-between;
    flex-grow: 1;
}

.home .joinbtn {
    background-color: white;
    color: black;
    text-align:center;
    width: 60px;
}

.home ul {
    color:white;
}

.home .column {
    max-width: 20%;
    padding: 10px;
}

.home .column.personalmessage {
    display: flex;
    flex-direction: column;
    max-width: 39%;
    flex-grow: 2;
}

.home > div {
    min-width: 250px;
}

.home div {
    color: white;
    background-color: #1d1f21;
}

.home h2 {
    text-align: center;
}

.home .groupbutton {
    background-color: rgb(153, 153, 153);
    width: 100%;
    margin-top: 10px;
}

.home .friendslist .friendSearch {
    margin-bottom: 10px;
}

.home .friendslist .friends {
    padding: 5px;
    background: #1d1f21;
    line-height: 24px;
}

.home .friendslist .friends i {
    margin: 0px 5px;
    float: right;
    line-height: 24px;
    cursor: pointer;
}

.home .friendslist .friends:hover {
    background-color:rgba(153, 153, 153, 0.137);
}