.home {
    display: flex;
    height: 90vh;
    flex-direction: row; 
    justify-content: space-between;
}

.home .groups {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.home ul {
    color:white;
}

.home .recentgroups {
    display:flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    background-color:#1d1f21;
    margin: 5px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
    flex-grow: 1;
}

.home .favoritegroups {
    display:flex;
    flex-direction: column;
    color:white;
    background-color:#1d1f21;
    flex-grow: 1;
    margin: 5px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
}

.home .recentgroups > div {
    background-color: black;
    margin: 10px;
    padding: 10px;
}

.home .favoritegroups > div {
    background-color: black;
    margin: 10px;
    padding: 10px;
}

.home .friendslist {
    color:white;
    background-color:#1d1f21;
    padding: 10px 15px;
    width: 15%;
    margin: 10px;
}