#joinBar {
    height: 60px;
    text-align: left;
    font-size: 28px;
    padding-left: 20px;
}

.joinGroupBar {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 50%;
    height: 200px;
}

#joinTitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}