[[define "head"]]
<!DOCTYPE html>
<html>
    <head>
        <title>GroupUp</title>
        <link rel="stylesheet" type="text/css" href="/css/global/fontisto.css" />
        <link rel="stylesheet" type="text/css" href="/css/global/toolkit.css" />
        <link rel="stylesheet" type="text/css" href="/css/global/base.css" />
        <script type="text/javascript" src="/js/support/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/js/support/vue-router/dist/vue-router.js"></script>
        <script type="text/javascript" src="/js/support/vue-resource/dist/vue-resource.js"></script>
        <script type="text/javascript" src="/js/support/jquery/dist/jquery.js"></script>
[[end]]