[[define "check"]]
<script type="text/x-template" id="tmpl-check">
    <div id="security">
        <div class="security-title row-align-center">Please answer your security questions: </div>
        <div class="registerrow">
            <input id="security_question1" v-model="security_question1" style = "margin-right: 5px" />
            <input id="security_answer1" v-model="security_answe1" placeholder = "Answer" />
        </div>
        <div class="registerrow">
            <input id="security_question2" v-model="security_question2" style = "margin-right: 5px" />
            <input id="security_answer2" v-model="security_answe2" placeholder = "Answer" />
        </div>
        <div class="registerrow">
            <input id="security_question3" v-model="security_question3" style = "margin-right: 5px" />
            <input id="security_answer3" v-model="security_answer3" placeholder = "Answer" />
        </div>
        <button class="contrast-button">Confirm</button>
    </div>
</script>
[[end]]