[[define "register"]]
<script type="text/x-template" id="tmpl-register">
    <div id="register">
        <div class="register-title1 row-align-center">Account Information</div>
        <div class="row1">
            <input id="reg_email" v-model="reg_email" placeholder = "Email" />
            <input id="reg_username" v-model="reg_username" placeholder="Username" />
        </div>
        <div class="row2">
            <input id="reg_password1" v-model="reg_password1" placeholder = "Password" />
            <input id="reg_password2" v-model="reg_password2" placeholder = "Confirm Password"/>
        </div>
        <div class="register-title2 row-align-center">Security Questions</div>
        <div class="row3">
            <input id="security_question1" v-model="security_question1" />
            <input id="security_answer1" v-model="security_answe1" placeholder = "Answer" />
        </div>
        <div class="row4">
            <input id="security_question2" v-model="security_question2" />
            <input id="security_answer2" v-model="security_answe2" placeholder = "Answer" />
        </div>
        <div class="row5">
            <input id="security_question3" v-model="security_question3" />
            <input id="security_answer3" v-model="security_answer3" placeholder = "Answer" />
        </div>
        <button class="contrast-button">Reigster</button>
    </div>
</script>
[[end]]