[[define "register"]]
<script type="text/x-template" id="tmpl-register">
    <div id="register">
        <div class="register-title row-align-center">Account Information</div>
        <div v-for="errors in errorList">{{ errors }}</div>
        <div class="registerrow">
            <input style="margin-left:15px" id="reg_email" v-model="reg_email" placeholder = "Email" />
            <input style="margin-left:15px" id="reg_username" v-model="reg_username" placeholder="Username" />
        </div>
        <div class="registerrow">
            <input type="password" style="margin-left:15px" id="reg_password1" v-model="reg_password1" placeholder = "Password" />
            <input type="password" style="margin-left:15px" id="reg_password2" v-model="reg_password2" placeholder = "Confirm Password" />
        </div>
    <!--<div class="register-title row-align-center">Security Questions</div>
        <div class="registerrow">
            <input id="security_question1" v-model="security_question1" style = />
            <input id="security_answer1" v-model="security_answer1" placeholder = "Answer" />
        </div>
        <div class="registerrow">
            <input id="security_question2" v-model="security_question2" />
            <input id="security_answer2" v-model="security_answer2" placeholder = "Answer" />
        </div>
        <div class="registerrow">
            <input id="security_question3" v-model="security_question3" />
            <input id="security_answer3" v-model="security_answer3" placeholder = "Answer" />
        </div>
    -->
        <a v-on:click="register" style="margin-left:15px"><button class="contrast-button">Register</button></a>
    </div>
</script>
[[end]]