[[define "flashcards"]]
<script type="text/javascript" src="/js/app/flashcards-component.js"></script>
<script type="text/x-template" id="tmpl-flashcards">
    <div class="flash-card">
        <div id="flipContainer" class="flip-container">
            <div class="flipper">
                <div class="front">
                   <label v-on:dblclick ="editCard()"  v-show="cardLabel" class="card-label"> {{ frontText }} </label>
                   <textarea id="frontText" v-show="cardText" v-model="frontText"  rows="10" cols="50"></textarea>
                   <i class="fi fi-spinner-rotate-forward flip-button" v-on:click="flipCard()"></i> 
                   <i class="fi fi-save saveButton" v-on:click="saveEdit()" v-show="saveIcon"></i>
                   <i class="fi fi-angle-right right arrow "></i>
                   <i class="fi fi-angle-left left arrow "></i>
                </div>
                <div class="back">
                    <label v-on:dblclick="editCard()" v-show="cardLabel" class="card-label"> {{ backText }} </label>
                    <textarea id="backText" v-show="cardText" v-model="backText" rows="10" cols="50"></textarea>
                     <i class="fi fi-spinner-rotate-forward flip-button" v-on:click="flipCard()"></i>
                     <i class="fi fi-save saveButton" v-on:click="saveEdit()" v-show="saveIcon"></i>
                     <i class="fi fi-angle-right right arrow "></i>
                   <i class="fi fi-angle-left left arrow"></i>
                </div>
            </div>
        </div>

    </div>
</script>
[[end]]