[[define "group"]]
<script type="text/javascript" src="/js/app/group-component.js"></script>
<script type="text/x-template" id="tmpl-group">
    <div class="group-frame row row-fit">
        <div v-if="showGroup">
            <div class="group-name">{{ groupid }}</div>
            <div class="group row row-fit">
                <div class="chat-wrapper column">
                    <chat-box></chat-box>
                </div>
                <div class="study-mode column">
                    <div class="studyModeMenu">
                        <button v-on:click="studyMode='whiteboard'" class="studyModeTab">Whiteboard</button>
                        <button v-on:click="studyMode='flashcards'" class="studyModeTab">Flashcards</button>
                        
                    </div>
                    <white-board v-if="studyMode == 'whiteboard'"></white-board>
                    <flash-cards v-else-if="studyMode == 'flashcards'"></flash-cards>
                </div>
                <div class="user-wrapper column">
                    <user-list></user-list>
                </div>
            </div>
        </div>
        <div v-if="showError">
            Something went wrong.
        </div>
    </div>
</script>
[[end]]