[[define "group"]]
<script type="text/javascript" src="/js/app/group-component.js"></script>
<script type="text/x-template" id="tmpl-group">
    <div class="group-frame row row-fit">
        <div v-if="showGroup">
            <div class="group-name">{{ groupid }}</div>
            <div class="group row row-fit">
                <div class="chat-wrapper column">
                    <chat-box></chat-box>
                </div>
                <div class="study-mode column">
                    <white-board></white-board>
                </div>
                <div class="user-wrapper column">
                    <user-list></user-list>
                </div>
            </div>
        </div>
        <div v-if="showError">
            Something went wrong.
        </div>
    </div>
</script>
[[end]]