[[define "home"]]
<script type="text/javascript" src="/js/app/home-component.js"></script>
<script type="text/x-template" id="tmpl-home">
    <div class="home row row-fit">
        <div class="column groups">
                <h2>Groups</h2>
                <hr>
                <div class="groupbutton" v-for="group in currentGroups">
                    <router-link tag="button" :to="'/group/' + group">{{ group }}</router-link>
                    <button v-on:click="removeCurrentGroup(group)"><i class="fi fi-close-a"></i></button>
                </div>
        </div>
        
        <div class="column personalmessage">
                <h2>Group Tag Search</h2>
                <input placeholder="Enter a tag">
        </div>

        <div class="friendslist column">
            <h2>Friends List</h2>
            <input v-on:keyup="searchUsers" v-model="searchQuery" class="friendSearch" type="text" placeholder="Search all users">
            <div class="innerlist">
                <div v-for="result in friendsResults" class="friends">
                    {{ result }} <i v-on:click="addFriend(result)" class="fi fi-plus-a"> </i>
                </div>  
                <div v-if="!searchQuery" v-for="friend in onlineFriends" class="friends">
                    <svg height="10" width="10">
                        <circle cx="5" cy="5" r="5" stroke="black" stroke-width="0" fill="green" />
                    </svg>{{ friend }} <i class="fi fi-more-v-a"> </i>  <i class="fi fi-hipchat"> </i>
                </div>
                <div v-if="!searchQuery" v-for="friend in offlineFriends" class="friends">
                    {{ friend }}<i class="fi fi-more-v-a"> </i>  <i class="fi fi-hipchat"> </i>
                </div>  
                </div> 
            </div>
        </div>
        
    </div>
</script>
[[end]]