[[define "home"]]
<script type="text/x-template" id="tmpl-home">
    <div class="home">
        <div class="groups">
            <div class="recentgroups">
                <h2> Recent Groups </h2>
                <hr>
                How to align buttons to right tho...
                I definitely didn't stop reading tutorials and just randomly googled shiet.
            </div>

            <div class="favoritegroups">
                <h2> Favorite Groups </h2>
                <hr>
            </div>
        </div>
            
        <div class="friendslist">
            <h2 style="text-align:center"> Friends List</h2>
            <form>
                <input type="text" placeholder="search">
            </form>
        </div>
    </div>
</script>
[[end]]