[[define "home"]]
<script type="text/x-template" id="tmpl-home">
    <div class="home">
        <div class="groups">
            <div class="recentgroups">
                <h2> Recent Groups </h2>
                <hr>
                <div> 
                    CSCI150_0128 <button> Join </button>
                </div>
                <div> 
                    CSCI152_2801 <button> Join </button>
                </div>
            </div>

            <div class="favoritegroups">
                <h2> Favorite Groups </h2>
                <hr>
                <div> 
                    CSCI152_2801 <button> Join </button>
                </div>
            </div>
        </div>
            
        <div class="friendslist">
            <h2 style="text-align:center"> Friends List</h2>
            <form>
                <input type="text" placeholder="Search">
            </form>
        </div>
    </div>
</script>
[[end]]