#portal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px 1px #888888
}

.portal-title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.portal-support {
    text-align: right;
}

.portal-support a {
    padding: 0px 5px 0px 0px;
}

#portal * {
    margin: 10px auto 2px auto;
}

#portal a {
    margin: 0;
    font-size: 12px;
}

#portal .links {
    margin-top: 5px;
}

.register-title1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.register-title2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.row1{
    text-align: center;
    padding: 0px 15px;
    display: inline-flex;
}

.row2{
    text-align: center;
    padding: 0px 15px;
    display: inline-flex;
}

.row3{
    text-align: center;
    padding: 0px 15px;
    display: inline-flex;
}

.row4{
    text-align: center;
    padding: 0px 15px;
    display: inline-flex;
}

.row5{
    text-align: center;
    padding: 0px 15px;
    display: inline-flex;
}